*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/buildSrc/build
/captures
.externalNativeBuild

# Delete the following line when using Template in a real project, or keep it for open source projects
/app/google-services.json